<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-u">
        <title>Vue.js App</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <div id="app">
            <h1>インターン管理表</h1>

            <label v-for="label in options">
                <input type="radio"
                 v-model="current"
                 v-bind:value="label.value">
                {{ label.label}}
            </label>
            ({{ computedTodos.length }}　件を表示)

            <table>
                <thead v-pre>
                    <tr>
                        <th class="id">ID</th>
                        <th class="comment">企業名</th>
                        <th class="state">状態</th>
                        <th class="button">-</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        v-for="item in computedTodos"
                        v-bind:key="item.id"
                        v-bind:class="{done:item.state}">
                        <th>{{ item.id }}</th>
                        <td>{{ item.comment }}               
                            <div id="modal">
                            <button v-on:click="openModal()">Click</button>
                                <div id="overlay" v-show="showContent" v-on:click="closeModal()">
                                    <div id="content">
                                        <p>これがモーダルウィンドウ</p>
                                        <p><button v-on:click="closeModal()">close</button></p>
                                    </div>
                                </div>
                        </div></td>
                        <td class="state">
                            <button v-on:click="doChangeState(item)">
                                {{ labels[item.state]}}
                            </button>
                        </td>
                        <td class="button">
                            <button v-on:click="doRemove(item)">
                                削除
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h2>新しい作業の追加</h2>
            <form class="add-form" v-on:submit.prevent="doAdd">
                コメント <input type="text" ref="comment">
                <button type="submit">追加</button>
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script src="./main.js"></script>
    </body>
</html>